<a href="https://colab.research.google.com/github/Cassiesanu8/Predictive-Analytics/blob/main/Copy_of_Salaries_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise 

This Should be a quick exercise to practice your new found pandas skills! 

We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! But do not worry the dataset will be provided


**BE AWARE The tasks will get harder and harder as you go along.**

*Import pandas as pd.*

In [46]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

*Read Salaries.csv as a dataframe called sal.*

In [47]:
sal = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/Salaries.csv')

*Check the head of the DataFrame.*

In [48]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

*Use the .info() method to find out how many entries there are.*

In [49]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [50]:
sal['BasePay'].mean()

66325.44884050643

*What is the highest amount of OvertimePay in the dataset ?*

In [51]:
sal['OvertimePay'].max()

245131.88

*What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).*

In [52]:
sal[sal['EmployeeName']== 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

*How much does JOSEPH DRISCOLL make (including benefits)?*

In [53]:
sal[sal['EmployeeName']== 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

*What is the name of highest paid person (including benefits)?*

In [54]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

*What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?*

In [55]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

*What was the average (mean) BasePay of all employees per year? (2011-2014) ?*

In [56]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

*How many unique job titles are there?*

In [57]:
sal['JobTitle'].nunique()

2159

*What are the top 5 most common jobs?*

In [58]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

*How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)*

In [59]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

*How many people have the word Chief in their job title? (This is pretty tricky)*

In [60]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [61]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

*Bonus: Is there a correlation between length of the Job Title string and Salary?*

In [66]:
sal['Job'] = sal['JobTitle'].apply(len)

In [68]:
sal[['Job','TotalPayBenefits']].corr()

                       Job  TotalPayBenefits
Job               1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

# Cheers!